$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary-light: #F4F6F7;
$background-primary-main: #F4F6F7;
$background-primary-dark: #F4F6F7;

$background-secondary-light: #EDE3C7;
$background-secondary-main: #EDE3C7;
$background-secondary-dark: #EDE3C7;

/* status colors */

$success-light: #edfff2;
$success-main: #5cc56e;
$success-dark: #278337;

$error-light: #fff2f2;
$error-main: #e46962;
$error-dark: #b3261e;

$warning-light: #fff9e9;
$warning-main: #f6851b;
$warning-dark: #e6661f;

$info-light: #eff2ff;
$info-main: #40c4ff;
$info-dark: #0000ff;

/* brand colors */

$primary-light: #8CDAF5;
$primary-main: #8CDAF5;
$primary-dark: #6BC4E8;

$primary-light-rgb: hexToRGB($primary-light);
$primary-main-rgb: hexToRGB($primary-main);
$primary-dark-rgb: hexToRGB($primary-dark);

$secondary-light: #c2c9dc;
$secondary-main: #8d91a5;
$secondary-dark: #5b6271;

/* typography colors */

$text-primary-light: #1E3A6B;
$text-primary-main: #1E3A6B;
$text-primary-dark: #1E3A6B;

$text-secondary-light: rgba($text-primary-main, 0.64);
$text-secondary-main: rgba($text-primary-main, 0.64);
$text-secondary-dark: rgba($text-primary-main, 0.64);

$text-tertiary-light: rgba(30, 58, 107, 0.44);
$text-tertiary-main: rgba(30, 58, 107, 0.44);
$text-tertiary-dark: rgba(30, 58, 107, 0.44);

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #ffffff;
$text-secondary-invert-dark: #ffffff;

/* border colors */

$border-primary-light: rgba(30, 58, 107, 0.12);
$border-primary-main: rgba(30, 58, 107, 0.12);
$border-primary-dark: rgba(30, 58, 107, 0.12);

$border-secondary-light: rgba(30, 58, 107, 0.06);
$border-secondary-main: rgba(30, 58, 107, 0.06);
$border-secondary-dark: rgba(30, 58, 107, 0.06);
