@use '_functions.scss' as *;
@use '_mixins.scss' as *;

/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */
@font-face {
  font-family: "Vazir";
  src: url("../assets/font/Vazir.woff2");
}

@font-face {
  font-family: "Nian";
  src: url("../assets/font/Nian Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nian";
  src: url("../assets/font/Nian.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nian";
  src: url("../assets/font/Nian SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nian";
  src: url("../assets/font/Nian Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nian";
  src: url("../assets/font/Nian-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: vh(100);
  display: flex;
  flex-direction: column;
}

html[dir="rtl"] {
  --current-font-family: var(--app-font-family-fa);
  font-family: var(--current-font-family);
}

html[dir="ltr"] {
  --current-font-family: var(--app-font-family);
  font-family: var(--current-font-family);
}

/* stylelint-disable-next-line */
body,
#app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--background-primary-main);
  color: var(--text-primary-main);
}

input,
select,
textarea {
  background: var(--background-primary-main);
  color: var(--text-primary-main);
  font-size: toRem(16);
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

body,
span,
p,
a {
  font-size: toRem(16);
}

.app-button {
  font-family: inherit !important;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  background: transparent;
  font-size: toRem(16);
  color: var(--text-primary-main);
  line-height: 1.5;
  font-weight: 600;
  outline: 0;
  margin: 0;
  padding: 0;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body,
p,
li,
ul {
  list-style-type: none;
  color: var(--text-primary-main);
}

p {
  line-height: 1.8;

  @include respond-to(tablet) {
    line-height: 1.6;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary-main);
  line-height: 1;
}

h1 {
  font-size: clamp(2.5rem, 6vw, 4rem);
  line-height: 1.3;
  font-weight: 900;
  letter-spacing: -0.01em;
}

h2 {
  font-size: clamp(1.75rem, 3.5vw, 2.5rem);
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  line-height: 1.4;
  font-weight: 700;
}

h4 {
  font-size: toRem(16);
}

h5 {
  font-size: toRem(14);
}

a {
  font-size: toRem(16);
  line-height: 1.25;
  font-weight: 600;
  color: var(--primary-main);
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.fade-enter-active {
  animation: fade-in 0.25s;
}

.fade-leave-active {
  animation: fade-in 0.25s reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
